---
layout: default
title: meetings
---

{% include navigation.html param='<a href="/community">community</a> / <a href="/acm">acm</a> / <a href="/meetings">meetings</a>' %}

<div id="article-list">
  {% for MInfo in site.data.meetinginfo %}
      <h4 id="page-subtitle"> Meetings held on {{ MInfo.day }} at {{ MInfo.time }} in {{ MInfo.location }}</h4>
    {% break %}
  {% endfor %}
  {% for meeting in site.categories.meetings %}
    {% assign smonth = site.time | date: "%m" | times:30 %}
    {% assign pmonth = meeting.date | date: "%m" | times:30 %}
    {% assign smonth = site.time | date: "%d" | plus:smonth %}
    {% assign smonth = site.time | date: "%Y" | minus:2013 | times:365 | plus:smonth %}
    {% assign pmonth = meeting.date | date: "%d" | plus:pmonth %}
    {% assign pmonth = meeting.date | date: "%Y" | minus:2013 | times:365 | plus:pmonth %}
    {% assign datediff = smonth | minus:pmonth %}
    {% if datediff <= 4 and datediff > -3 and latemeeting != 0 %}
      <div class="article-separator"><h2>Latest Meeting</h2></div>
      {% assign latemeeting = 0 %}
      <div class="article-each article-event article-current">
        <h1>{{ meeting.date | date_to_string }}</h1>
        <div id="meta">
          <p id="meta-primary">{{ meeting.topics }}</p>
        </div><!-- /meta -->
        <div class="event-page-description">
          {{ meeting.content }}
        </div><!-- /footer-event-description -->
      </div><!-- /article-each -->
    {% endif %}
  {% endfor %}
  {% if latemeeting != 0 %}
    <p>No Meeting Notes This Week</p>
  {% endif %}
  {% assign separator = 1 %}
  {% for meeting in site.categories.meetings %}
    {% assign smonth = site.time | date: "%m" | times:30 %}
    {% assign pmonth = meeting.date | date: "%m" | times:30 %}
    {% assign smonth = site.time | date: "%d" | plus:smonth %}
    {% assign smonth = site.time | date: "%Y" | minus:2013 | times:365 | plus:smonth %}
    {% assign pmonth = meeting.date | date: "%d" | plus:pmonth %}
    {% assign pmonth = meeting.date | date: "%Y" | minus:2013 | times:365 | plus:pmonth %}
    {% assign datediff = smonth | minus:pmonth %}
    {% if datediff > 4 %}
      {% if separator != 0 %}
        <div class="article-separator"><h2>Past Meeting Information</h2></div>
        {% assign separator = 0 %}
      {% endif %}
      <div class="article-each article-event article-current">
        <h1>{{ meeting.date | date_to_string }}</h1>
        <div id="meta">
          <p id="meta-primary">{{ meeting.topics }}</p>
        </div><!-- /meta -->
        <div class="event-page-description">
          {{ meeting.content }}
        </div><!-- /footer-event-description -->
      </div><!-- /article-each -->
    {% endif %}
  {% endfor %}
  {% if separator == 1 %}
    <p>No Past Meeting Information</p>
  {% endif %}
</div><!-- /article-list -->