<div id="billboard">

  <div id="masthead">
  </div><!-- /masthead -->
  
  <div id="billboard-logo" class="billboard-main-logo">
    <h1><a href="/">msum acm</a></h1>
  </div><!-- /billboard-logo -->
  <div id="workshop" class="billboard-sub-projects">
    <h2>Workshops</h2>
    <p><a href="https://github.com/MSUM-ACM/events">Git Set Go! &amp; Others</a></p>
  </div><!-- /workshop -->
  <div id="github" class="billboard-sub-projects">
    <h2>This code is open sourced on</h2>
    <p><a href="https://github.com/MSUM-ACM">github.com/msumacm</a></p>
  </div><!-- /github -->

  <div id="projects" class="billboard-sub-projects">
    <h2>Projects</h2>
    <p><a href="https://github.com/MSUM-ACM">Programming Competitions &amp; Others</a></p>
  </div><!-- /projects -->
  <div id="notices" class="billboard-sub-projects">
    <h2>Notices &amp; Meeting Updates</h2>
    <p><a href="/mailinglist">Wednesdays 2pm in BR 163</a></p>
  </div><!-- /notices -->

  <div id="tweets" class="billboard-sub-projects"> <h2>@MSUMACM</h2>
    <!-- <p><a href="https://twitter.com/MSUMACM"></a></p> -->
    <p><a href="https://twitter.com/MSUMACM"> 
    Signing up to our mailing list isn’t the most pleasurable task. Here’s
    instructions that make it more bearable. http://msumacm.org/mailinglist/
    </a></p> </div><!-- /tweets -->

  <div id="media" class="billboard-sub-projects">
    <h2>Meet the Team</h2>
    <p><a href="/officers">Officers</a></p>
    <!-- <h2>Photos &amp; Videos</h2> -->
    <!-- <p><a href="/">Watch recent Photos &amp; Videos<a/></p> -->
  </div><!-- /media -->

</div><!-- /billboard -->
