<div id="billboard">

  <div id="masthead">
  </div><!-- /masthead -->
  
  <div id="billboard-logo" class="billboard-main-logo">
    <h1><a href="/">msum acm</a></h1>
  </div><!-- /billboard-logo -->

  <div id="workshop" class="billboard-sub-projects">
    <h2>Workshops &amp; Events</h2>
    {% for event in site.categories.events limit:1 %}
      <p><a href="{{ site.url }}/events">{{ event.title }}</a></p>
    {% endfor %}
  </div><!-- /workshop -->

  <div id="github" class="billboard-sub-projects">
    <h2>This code is open sourced on</h2>
    <p><a href="https://github.com/MSUM-ACM/MSUM-ACM.github.io">github.com/MSUM-ACM &hellip;</a></p>
  </div><!-- /github -->

  <div id="notices" class="billboard-sub-projects">
    <h2>Join Us and Stay Tuned</h2>
    <p><a href="/mailinglist">Subscribe to our Mailing List</a></p>
  </div><!-- /projects -->

  <div id="projects" class="billboard-sub-projects">
    <h2>Projects</h2>
    <p><a href="https://github.com/MSUM-ACM">Programming Competitions &amp; Others</a></p>
  </div><!-- /notices -->

  <div id="tweets" class="billboard-sub-projects"> <h2>@MSUMACM</h2>
    <!-- <p><a href="https://twitter.com/MSUMACM"></a></p> -->
    <p><a href="https://twitter.com/MSUMACM"> 
    Join us tomorrow for an introductory talk on Linux and meet and play with some 
    &hellip;
    </a></p> </div><!-- /tweets -->

  <div id="media" class="billboard-sub-projects">
    <h2>Meet the Team</h2>
    <p><a href="/officers">Officers</a></p>
    <!-- <h2>Photos &amp; Videos</h2> -->
    <!-- <p><a href="/">Watch recent Photos &amp; Videos<a/></p> -->
  </div><!-- /media -->

</div><!-- /billboard -->
