<div id="credits">
  <h2>Credits</h2>

    <!--
    <div class="credits-blob">
      <h3>The Article's Author</h3>
      <p>John AppleSeed</p>
    </div>
    -->
    <!-- /credits-blob -->

    <div class="credits-blob">
      <h3>Blog Editors &amp; Contact</h3>
      <p>
      <a href="mailto:kadimisesr@mnstate.edu?Subject=Hello!">Sri Kadimisetty</a> <br />
        <a href="mailto:tuchekju@mnstate.edu?Subject=Hello!">Justin Tuchek</a>
      </p>

    </div><!-- /credits-blob -->

    <div class="credits-blob">
      <h3>Design</h3>
      <p><a href="https://github.com/kadimisetty/">Sri Kadimisetty</a></p>
    </div><!-- /credits-blob -->
</div><!-- /credits -->
