<div id="footer-events">
  <h2>Events &amp; Workshops</h2>

{% for event in site.categories.events limit:2 %}
    <div class="footer-events-blob">
      <h3 class="footer-event-title">{{ event.title }}</h3>

      <h3 class="footer-event-author">{{ event.author }}</h3>
      <h3 class="footer-event-date">{{ event.event-date | date: "%-d %B at %-I:%M %p" }} in {{ event.location }}</h3>

      {% if event.presentation-data %}
        <h3 class="footer-presentation-data"><a href="{{ event.presentation-data }}">Read Accompanying Slides</a></h3>
      {% endif %}

      <div class="footer-event-description"><p>{{ event.content }}
      </p></div><!-- /footer-event-description -->

    </div><!-- /footer-events-blob -->
{% endfor %}

</div><!-- /footer-events -->
