<div id="participate">
  <div id="participation-content">
  <h2>Participate!</h2>

  <p> Passionate about programming, games, robots, the web &hellip; ? <br /> 
  So are we!  Join the ACM and participate by writing an article about your
  field of expertise, teaching and learning from your fellow students in 
  our weekly workshops or attending presentations from local tech companies and
  computer professionals.  We meet every week at 2pm in the Linux Lab. You
  should come!
  </p>

</div><!-- /participation-content -->

</div><!-- /participation -->
