// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$bariol: "Bariol", "Avenir Next", $helvetica;
$base-font-family: $bariol;
$header-font-family: $base-font-family;


// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: #befff1;

// Font Colors
$base-font-color: #83c6b8;
$base-accent-color: white;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;



// MSUMACM COLORS

$teal: #B0E4D7;
$teal: #352E27;
$teal:#AD0000;
$teal-1: #afffee;
$teal-2: #a9fcea;
$teal-3: #a6f6e4;
$teal-4: #9deedc;
$teal-5: #a2efde;
$teal-6: #9ee1d2;
$teal-7: #34c5a6;
$teal-8: #81deca;
$base-background-color: $teal;
$dark:#5a8a7f;

$dark:shade($base-background-color,45%);
$dark:#fff;
$font-color:shade($dark,5%);
// MSUMACM BUTTONS

$base-button-color: #000;
$base-button-text-color: $font-color;
$base-button-border: 1px solid $base-button-text-color;
$base-button-border:none;
$hover-button-color: $base-button-text-color;
$hover-button-text-color: #000;
$hover-button-border:1px solid $base-button-text-color;
$hover-button-border:none;
$active-button-color: tint($base-button-text-color,12%);
$active-button-text-color: $teal;
$active-button-border: 1px solid $base-button-text-color;
$active-button-border:none;


$header-size:160px;

// Background Color

$radius:5px;
$linestyle: 1px dashed $font-color;
$button-size:30em;
$hover-link-color:shade($dark,25%);
$active-link-color:tint($dark,12%);
$other:#699087;
//logo panel

$base-panel-color-1:$dark;
$base-panel-text-color-1:$base-background-color;
$hover-panel-color-1:tint($base-background-color,50%);
$hover-panel-text-color-1:$font-color;
/*
$base-panel-color-2:shade($base-background-color,25%);
$base-panel-text-h-color-2:$font-color;
$base-panel-text-p-color-2:$base-background-color;
$hover-panel-color-2:tint($base-background-color,50%);
$hover-panel-text-color-2:$font-color;

$base-panel-color-1:$dark;
$base-panel-text-color-1:$base-background-color;
$hover-panel-color-1:tint($base-background-color,50%);
$hover-panel-text-color-1:$font-color;

$base-panel-color-1:$dark;
$base-panel-text-color-1:$base-background-color;
$hover-panel-color-1:tint($base-background-color,50%);
$hover-panel-text-color-1:$font-color;*/