<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MSUM ACM</title>

  <meta name="description" content="MSUM ACM">

  <!-- [normalize](http://necolas.github.io/normalize.css/) -->
  <link rel="stylesheet" href="/assets/css/normalize.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="/assets/fonts/bariol-family-stylesheet.css">

  <!-- [lesscss](http://lesscss.org) -->
  <!-- <link rel="stylesheet/less" type="text/css" href="assets/styles/stylesheet.less"> -->
  <!-- <script src="assets/js/less-1.6.2.js"></script> -->
  <link rel="stylesheet" href="/assets/css/stylesheet.css">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <meta name="viewport" content="initial-scale=1"> -->
  <!-- <meta name="viewport" content="width=device-width"> -->

</head>

<body>
  <div id="container">

    {{ content }}


    <div class="extras">
      <div id="archive-link"> <a href="/archives/">Visit the archive to read more articles</a>
      </div><!-- /archive-link -->
      {% include participation.html %}
    </div><!-- /extras -->


    <div class="extras">
      {% include credits.html %}
    </div><!-- /extras -->

    <div id="appendix">
      <p><a href="/feed.xml">Subscribe to new articles via RSS</a></p>
    </div><!-- /appendix -->

  </div><!-- /container -->



  <!-- Scripts -->
  {% include google-analytics.html %}

</body>
</html>
