---
layout: default
title: archives
---

{% include navigation.html param='<a href="/events">workshops &amp; events</a>' %}

<div id="article-list">

{% for event in site.categories.events %}
  <div class="article-each">
    <h1>{{ event.title }}</h1>
    <div id="meta">
      <p id="meta-primary">{{ event.author }}</p>
      <p id="meta-secondary">{{ event.event-date | date: "%-d %B at %-I:%M %p" }} in {{ event.location }}</p>

    </div><!-- /meta -->

      {% if event.presentation-data %}
      <div class="event-page-presentation-data">
        <p><a href="{{ event.presentation-data }}">Read Accompanying Material</a></p>
      </div><!-- /event-page-presentation-data -->
      {% endif %}

      <div class="event-page-description">
        {{ event.content }}
      </div><!-- /footer-event-description -->
  </div><!-- /article-each -->
{% endfor %}

</div><!-- /article-list -->
